.shoppingCart {
    margin-left: 16px;
} 
 
.shoppingCart a {
    display: flex;
    align-items: center;
}

.shoppingCart span {
    background-color: var(--primarySecond);
    color: var(--secondary);
    border-radius: 50%;
    height: 1.2rem;
    aspect-ratio: 1/1;
    font-size: 12px;
    text-align: center;
}

.shoppingCartIcon {
    padding: 4px;
    border-radius: 4px;
    font-size: 18px; 
}