.heading {
    font-size: 1.8rem;
    margin: 8px 0 16px 0
}

.subHeading {
    font-size: 1.5rem
}

.pageBtn {
    width: 180px !important;
}

.textarea {
    font-family: 'Nunito', Arial, sans-serif;
    width: 100%;
    padding: 8px;
    outline: 0;
    height: 132px;
    border: 1px solid var(--primaryFirst);
    border-radius: 8px;
    resize: none;
    margin-bottom: 16px
}

@media screen and (max-width:768px) {
    .pageBtn {
        margin-bottom: 12px;
        width: 100% !important;
    }
}