.pageForm {
    min-height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container {
    background-color: var(--neutral);
    padding: 24px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 350px;
}

.form {
    margin: 24px 0;
}

.form input {
    display: block;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
    background-color: var(--shade5);
    outline: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons a {
    color: var(--primaryFirst);
}
.buttons a:hover {
    border-bottom: 1px solid var(--primaryFirst);
}

.message {
    padding: 8px;
}

.message a {
    color: var(--primarySecond);
}

.message a:hover {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .container, .message {
        width: 90%;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons button {
        width: 100% !important;
    }

    .buttons div {
        margin-top: 8px;
    }
}

