.delivery {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
 
.animation img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .delivery {
        flex-direction: column;
    }

    .content {
        margin-bottom: 8px;
        text-align: center;
    }

    .animation {
        width: 100%;
    }
}