.location {
    background-color: var(--primaryFirst);
    color: var(--neutral);
    margin: 50px 0;
    padding: 50px 0;
}
 
.bloc {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.address,
.workTime {
    display: flex;
    flex-wrap: nowrap;
}

.iconContainer {
    align-items: center;
    display: flex;
}

.icon {
    color: var(--primarySecond);
    font-size: 72px;
    width: 64px;
}

.locationContent {
    padding: 0 24px;
}

.locationContent h2 {
    margin-bottom: .5rem;
}

.locationContent p {
    margin-bottom: 0;
}

.locationContent address {
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .bloc {
        align-items: flex-start;
        flex-direction: column;
    }

    .address {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 500px) {

    .icon {
        font-size: 58px;
        width: 48px;
    }
}