.navbar {
    align-items: center;
    box-sizing: content-box; /* Padding is separate from height of navbar */
    display: flex;
    height: var(--navbarHeight);
    justify-content: space-between;
    padding: var(--navbarPadding);
}

.logo {
    min-width: 88px;
    z-index: 2;
    /* For mobile navbar */
}

.logo img {
    display: block;
}

.listElement {
    margin: 0 8px;
    text-align: center;
    width: 88px;
}

.listElement a {
    color: var(--primaryFirst);
    padding: 6px 12px;
}

.listElement a:hover {
    font-weight: bold;
}

.humbugger,
.mobileMenu {
    display: none;
}

.icon__1 {
    color: var(--primaryFirst);
}

.icon__2 {
    color: var(--secondary);
}

@media screen and (max-width:768px) {

    .navMenu,
    .navBtn {
        display: none;
    }

    .humbugger {
        display: block !important;
        z-index: 2;
    }

    .humbugger:hover {
        cursor: pointer;
    }

    .menuToggle {
        align-items: center;
        background-color: var(--primarySecond);
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .list {
        flex-direction: column;
        text-align: center;
    }

    .listElement {
        margin: 8px 0;
        width: unset;
    }

    .listElement a {
        font-size: 20px;
    }

    .listElement a:hover {
        color: var(--secondary);
        font-weight: bold;
    }

    .mobileBtn {
        border-radius: 20px !important;
        margin-top: 12px;
        padding: 10px !important;
        width: 50% !important;
    }

}