.heading {
  font-size: 1.8rem;
  margin: 8px 0 16px 0;
}

.subHeading {
  font-size: 1.5rem;
}

.pageBtn {
  width: 180px !important;
}

.textarea {
  border: 1px solid var(--primaryFirst);
  border-radius: 8px;
  font-family: "Nunito", Arial, sans-serif;
  height: 132px;
  margin-bottom: 16px;
  outline: 0;
  padding: 8px;
  resize: none;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .pageBtn {
    width: 100% !important;
  }
}
