.pageForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--viewportHeight);
}

.container {
    background-color: var(--neutral);
    border-radius: 8px;
    box-shadow: var(--boxShadow);
    padding: 24px;
    width: 350px;
}

.form input {
    background-color: var(--shade5);
    border: 1px solid transparent;
    border-radius: 8px;
    display: block;
    margin-bottom: 16px;
    outline: none;
    padding: 8px;
    width: 100%;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.buttons a {
    color: var(--primaryFirst);
}
.buttons a:hover {
    border-bottom: 1px solid var(--primaryFirst);
}

.message {
    padding: 8px;
}

.message a {
    color: var(--primarySecond);
}

.message a:hover {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .container, .message {
        width: 90%;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons button {
        width: 100% !important;
    }

    .buttons div {
        margin-top: 8px;
    }
}

