.notification {
    color: var(--neutral);
    padding: 10px 0;
}

.content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.message {
    align-items: center;
    display: flex;
}

.message p {
    margin: 0 16px;
}

.icon:hover {
    cursor: pointer;
}